@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    font-family: 'Roboto', Times, serif;
}


/* Clases genéricas (inspiradas en bootstrap)*/
.mx-auto{
    margin:auto;
}
.text-center{
    text-align: center;
}
.d-none{
    display:none;
}
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}


/*Fin clases genéricas*/

body{
    display: flex;
    flex-direction: column;
}

.LogoApple{
    margin:2em auto; 
    display: flex;
}

.titulo{
    margin:auto;
    display: flex;
}

.section-title{
    font-size:40px;
}
.section-text{
    font-size:18px;
    margin:1em auto 2em;

}
.navbar{
    margin:2em auto 3em;
    text-align: center;
    display: flex;
    position: sticky;
    top:1em;
    padding: 0 1em;

    background-color:#187795;
    color:#fff;
    border-radius:0.5em;
}
.navbar ul{
    list-style: none;
    margin:auto;
}
.navbar ul li {
    margin:0.5em;
    transition-duration: 0.2s;
}
.navbar ul li:hover{
    transform:translateY(-5px)
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
}

section{
    width:90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.article_title{
    text-align: center;
    margin: 1em auto 0.5em;
    font-size:36px;
}
.iphones_container, .macbooks_container, .macbooks-generic-div{
    flex-direction:column
}
.iphones_article, .macbooks-article{
    flex-direction: column;
}

.macbooks_section{
    margin: 2em auto;
}

.iphones_img, .macbooks_img{
    width:50%;
    margin:0 auto;
    height:50%;
}
.macbooks_img{
    width:70%;
    margin:1em auto;
}
.macbook_generic{
    border-radius: 0.5em;
    width:100%
}

footer{
    background-color:#38686A;
    color:#fff;
    padding: 2em;
    
}
.redes{
    list-style: none;
}
footer h2{
    font-size: 36px;
}
.redes li{
    margin:1em auto;
    display: flex;
    align-items: center;
}
.icons {
    color:#fff;
    width: 24px;
    margin:auto 0.5em
}
.redes li a{
    color:#fff;
    text-decoration: none;
}
.divContacto{
    width: 95%;
    margin:auto;
}
.popup{
    background-color:#fff;
    width:90%;
    border:2px solid #30acff;
    box-shadow: 0 0 10px #30acff;
    border-radius: 0.5em;
    position:fixed;
    margin:auto;
    height: fit-content;
    left:0;
    right:0;
    bottom:0;
    top:0;
    padding: 2em 2em 1.5em;
}
.popup img{
    width:80%;
    display:flex;
    margin:auto
}
.popup button{
    background-color: transparent;
    border:none;
    outline:none;
    text-decoration: underline;
    margin:1em auto 0;
    display:flex;
    cursor:pointer;
    font-size:16px;
}
.popup-trigger{
    cursor:pointer;
}

@media screen and (min-width:1000px){
    .iphones_container, .macbooks_container, .macbooks-generic-div{
        flex-direction:row
    }
    .macbooks_img{
        width:50%;
    }
    .macbook_generic{
        margin:auto 2em auto 0
    }
    .reversed{
        flex-direction: row-reverse;
    }
    .iphones_text{
        margin: auto;
        font-size:20px;
        text-align: justify;
    }
}


@media screen and (min-width:1500px){
    section, .divContacto{
        width:70%;
    }
    .divContacto{
        margin:auto
    }
    .iphones_img{
        width:40%;
    }
}

@media screen and (min-width:1800px){
    .iphones_img{
        width:30%;
    }
}

